<!-- _layouts/post.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/assets/js/copy.js" defer></script>
</head>
<body>
  <header>
    <div class="banner">
      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
    </div>
    <nav class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="content">
        {% if page.image %}
          <div class="post-featured-image">
            <img src="{{ page.image }}" alt="{{ page.title }}">
          </div>
        {% endif %}
        <h1>{{ page.title }}</h1>
        <p><em>{{ page.date | date: "%B %d, %Y" }}</em></p>
        {{ content }}
      </div>
  </main>

  <footer>
    <p>© 2025 Krikas-Sec. All rights reserved.</p>
  </footer>
</body>
</html>
